
## Problem Statement:

Restaurants from all over the world can be found here in Bengaluru. From the United States to Japan, Russia to Antarctica, you get all types of cuisines here. Delivery, Dine-out, Pubs, Bars, Drinks, Buffet, Desserts you name it and Bengaluru has it. Bengaluru is the best place for foodies. The number of restaurants is increasing day by day. Currently, it stands at approximately 12,000 restaurants. With such a high number of restaurants. This industry hasn't been saturated yet. And new restaurants are opening every day. However, it has become difficult for them to compete with already established restaurants. The key issues that continue to pose a challenge to them include high real estate costs, rising food costs, shortage of quality manpower, fragmented supply chain, and over-licensing. This Zomato data aims at analyzing the demography of the location. Most importantly it will help new restaurants in deciding their theme, menus, cuisine, cost, etc for a particular location. It also aims at finding similarities between neighborhoods of Bengaluru on the basis of food. The dataset also contains reviews for each of the restaurants which will help in finding the overall rating for the place.


## Aim:

The basic idea of analyzing the Zomato dataset is to get a fair idea about the factors affecting the establishment of different types of restaurants at different places in Bengaluru, the aggregate rating of each restaurant, Bengaluru being one such city has more than 12,000 restaurants with restaurants serving dishes from all over the world. With each day new restaurants open the industry hasn't been saturated yet and the demand is increasing day by day. In spite of increasing demand, it however has become difficult for new restaurants to compete with established restaurants. Most of them serve the same food. Bengaluru is the IT capital of India. Most of the people here are dependent mainly on the restaurant food as they don’t have time to cook for themselves.



Use all the techniques which you are aware of and explore more, Try to find various factors that are hidden in the data.

### DATA DICTIONARY:


• **Restaurant Id:** Unique id of every restaurant across various cities of the world

• **Restaurant Name:** Name of the restaurant

• **Country Code:** Country in which restaurant is located

• **City:** City in which the restaurant is located

• **Address:** Address of the restaurant

• **Locality:** Location in the city

• **Locality Verbose:** Detailed description of the locality

• **Longitude:** Longitude coordinate of the restaurant's location

• **Latitude:** Latitude coordinate of the restaurant's location

• **Cuisines:** Cuisines offered by the restaurant

• **Average Cost for two:** Cost for two people in different currencies 

• **Currency:** Currency of the country

• **Has Table booking:** yes/no

• **Has Online delivery:** yes/ no

• **Is delivering:** yes/ no

• **Switch to order menu:** yes/no

• **Price range:** range of price of food

• **Aggregate Rating:** Average rating out of 5

• **Rating color:** depending upon the average rating color

• **Rating text:** text on the basis of rating of rating

• **Votes:** Number of ratings cast by people

### 1.Import libraries that you required and Load the data set.

In [1]:
import pandas as pd
df=pd.read_csv('Zomoto.CSV')
df

,Unnamed: 0,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,14221,https://www.zomato.com/bangalore/shree-ranga-v...,"366, Hosur Main Road, Attibele, Anekal Taluk, ...",Shree Ranga Vilas,No,No,3.2/5,7,080 29765044,Electronic City,Casual Dining,NaN,"North Indian, South Indian, Chinese, Juices",500,"[('Rated 3.0', 'RATED\n Typical South Indian ...",[],Dine-out,Electronic City
1,43422,https://www.zomato.com/bangalore/sphyre-gatewa...,"Gateway Hotel, 66, Residency Road, Bangalore",Sphyre - Gateway Hotel,No,No,3.6 /5,45,+91 9886643495\n+91 9898780004,Residency Road,Lounge,NaN,Finger Food,"1,700","[('Rated 1.0', 'RATED\n Expected a good night...",[],Dine-out,MG Road
2,16032,https://www.zomato.com/bangalore/popular-baker...,"19, BDA Complex, HSR, Bangalore",Popular Bakery,No,No,3.7/5,36,+91 8105834605\r\n080 25722488,HSR,"Dessert Parlor, Bakery",NaN,"Desserts, Bakery",600,"[('Rated 5.0', ""RATED\n This outlet is in HSR...",[],Delivery,HSR
3,51635,https://www.zomato.com/bangalore/thai-chinese-...,"7, Anurhh Arcade, Hoodi Road, Kodigehalli Road...",Thai & Chinese Fast Food,No,No,3.4 /5,7,+91 9206260085\n+91 7619416923,KR Puram,Quick Bites,NaN,"Chinese, Thai",400,"[('Rated 5.0', 'RATED\n Its Looking delicious...",[],Dine-out,Whitefield
4,23424,https://www.zomato.com/bangalore/grill-on-whee...,"Kothanuru Main Road, Puttenahalli Road, Natara...",Grill On Wheels,No,No,NEW,0,+91 9901979901,JP Nagar,Quick Bites,NaN,"North Indian, Chinese, BBQ, Arabian, Fast Food",400,[],[],Dine-out,JP Nagar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,26497,https://www.zomato.com/bangalore/asia-kitchen-...,"136, Ground Floor, 1st Cross, 5th Block, Jyoti...",Asia Kitchen By Mainland China,Yes,Yes,4.9/5,2215,080 49652573,Koramangala 5th Block,"Casual Dining, Bar","Chicken Dim Sum, Pad Thai Noodle, Jumbo Prawns...","Asian, Chinese, Thai, Momos","1,500","[('Rated 5.0', ""RATED\n Everything from the a...",[],Buffet,Koramangala 4th Block
9996,45520,https://www.zomato.com/bangalore/24-hours-cake...,"Shop 1, ATR Complex, Old Airport Road, Bangalore",24 Hours Cake Delivery,No,No,3.3 /5,4,+91 9711655952,Old Airport Road,Delivery,NaN,Bakery,700,"[('Rated 1.0', 'RATED\n Very unprofessional b...",[],Desserts,Old Airport Road
9997,41541,https://www.zomato.com/bangalore/tbc-sky-loung...,"36/1, 5th Floor, Berry's Hotel Kadubeesanahall...",TBC- Sky Lounge,No,Yes,4.4 /5,619,080 42106712\n+91 7624959444,Marathahalli,"Casual Dining, Bar","Fish, Peri Peri Chicken, Cocktails, Chilli Chi...","Continental, Asian, Italian, North Indian","1,000","[('Rated 2.0', 'RATED\n The high rating on Zo...",[],Dine-out,Marathahalli
9998,35621,https://www.zomato.com/bangalore/tawa-sagara-j...,"29/1, 30th Cross, 4th T Block, Thilknagar, Jay...",Tawa Sagara,No,No,3.8 /5,122,NaN,Jayanagar,Casual Dining,"Sea Food, Biryani, Fish Thali, Neer Dosa, Murg...","Mangalorean, Seafood",NaN,"[('Rated 1.0', 'RATED\n We orders chicken suk...",[],Delivery,Koramangala 7th Block
9999,27432,https://www.zomato.com/bangalore/a3-nuwang-kit...,"6/1, Ejipura Pipeline Road, Ejipura, Bangalore",A3 Nuwang Kitchen,Yes,No,3.7/5,42,+91 8892430466\r\n+91 8867915147,Ejipura,Quick Bites,NaN,"Chinese, North Indian",300,"[('Rated 4.0', 'RATED\n I stay near by and ea...",[],Delivery,Koramangala 4th Block

### 2. Check the number of rows and columns in the dataset

In [2]:
df.shape

(10000, 18)

### 3. Check the info of the given dataset

In [3]:
df.info

<bound method DataFrame.info of       Unnamed: 0                                                url  \
0          14221  https://www.zomato.com/bangalore/shree-ranga-v...
1          43422  https://www.zomato.com/bangalore/sphyre-gatewa...
2          16032  https://www.zomato.com/bangalore/popular-baker...
3          51635  https://www.zomato.com/bangalore/thai-chinese-...
4          23424  https://www.zomato.com/bangalore/grill-on-whee...
...          ...                                                ...
9995       26497  https://www.zomato.com/bangalore/asia-kitchen-...
9996       45520  https://www.zomato.com/bangalore/24-hours-cake...
9997       41541  https://www.zomato.com/bangalore/tbc-sky-loung...
9998       35621  https://www.zomato.com/bangalore/tawa-sagara-j...
9999       27432  https://www.zomato.com/bangalore/a3-nuwang-kit...

                                                address  \
0     366, Hosur Main Road, Attibele, Anekal Taluk, ...
1          Gateway Hotel, 66, Residency Road, Bangalore
2                       19, BDA Complex, HSR, Bangalore
3     7, Anurhh Arcade, Hoodi Road, Kodigehalli Road...
4     Kothanuru Main Road, Puttenahalli Road, Natara...
...                                                 ...
9995  136, Ground Floor, 1st Cross, 5th Block, Jyoti...
9996   Shop 1, ATR Complex, Old Airport Road, Bangalore
9997  36/1, 5th Floor, Berry's Hotel Kadubeesanahall...
9998  29/1, 30th Cross, 4th T Block, Thilknagar, Jay...
9999     6/1, Ejipura Pipeline Road, Ejipura, Bangalore

                                name online_order book_table    rate  votes  \
0                  Shree Ranga Vilas           No         No   3.2/5      7
1             Sphyre - Gateway Hotel           No         No  3.6 /5     45
2                     Popular Bakery           No         No   3.7/5     36
3           Thai & Chinese Fast Food           No         No  3.4 /5      7
4                    Grill On Wheels           No         No     NEW      0
...                              ...          ...        ...     ...    ...
9995  Asia Kitchen By Mainland China          Yes        Yes   4.9/5   2215
9996          24 Hours Cake Delivery           No         No  3.3 /5      4
9997                 TBC- Sky Lounge           No        Yes  4.4 /5    619
9998                     Tawa Sagara           No         No  3.8 /5    122
9999               A3 Nuwang Kitchen          Yes         No   3.7/5     42

                                 phone               location  \
0                         080 29765044        Electronic City
1       +91 9886643495\n+91 9898780004         Residency Road
2       +91 8105834605\r\n080 25722488                    HSR
3       +91 9206260085\n+91 7619416923               KR Puram
4                       +91 9901979901               JP Nagar
...                                ...                    ...
9995                      080 49652573  Koramangala 5th Block
9996                    +91 9711655952       Old Airport Road
9997      080 42106712\n+91 7624959444           Marathahalli
9998                               NaN              Jayanagar
9999  +91 8892430466\r\n+91 8867915147                Ejipura

                   rest_type  \
0              Casual Dining
1                     Lounge
2     Dessert Parlor, Bakery
3                Quick Bites
4                Quick Bites
...                      ...
9995      Casual Dining, Bar
9996                Delivery
9997      Casual Dining, Bar
9998           Casual Dining
9999             Quick Bites

                                             dish_liked  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
9995  Chicken Dim Sum, Pad Thai Noodle, Jumbo Prawns...
9996                                                NaN
9997  Fish, Peri Peri Chicken, Cocktails, Chilli Chi...
9998  Sea Food, Biryani, Fish Thali, Neer Dosa, Murg...
9999                                                NaN

                                            cuisines  \
0        North Indian, South Indian, Chinese, Juices
1                                        Finger Food
2                                   Desserts, Bakery
3                                      Chinese, Thai
4     North Indian, Chinese, BBQ, Arabian, Fast Food
...                                              ...
9995                     Asian, Chinese, Thai, Momos
9996                                          Bakery
9997       Continental, Asian, Italian, North Indian
9998                            Mangalorean, Seafood
9999                           Chinese, North Indian

     approx_cost(for two people)  \
0                            500
1                          1,700
2                            600
3                            400
4                            400
...                          ...
9995                       1,500
9996                         700
9997                       1,000
9998                         NaN
9999                         300

                                           reviews_list menu_item  \
0     [('Rated 3.0', 'RATED\n  Typical South Indian ...        []
1     [('Rated 1.0', 'RATED\n  Expected a good night...        []
2     [('Rated 5.0', "RATED\n  This outlet is in HSR...        []
3     [('Rated 5.0', 'RATED\n  Its Looking delicious...        []
4                                                    []        []
...                                                 ...       ...
9995  [('Rated 5.0', "RATED\n  Everything from the a...        []
9996  [('Rated 1.0', 'RATED\n  Very unprofessional b...        []
9997  [('Rated 2.0', 'RATED\n  The high rating on Zo...        []
9998  [('Rated 1.0', 'RATED\n  We orders chicken suk...        []
9999  [('Rated 4.0', 'RATED\n  I stay near by and ea...        []

     listed_in(type)        listed_in(city)
0           Dine-out        Electronic City
1           Dine-out                MG Road
2           Delivery                    HSR
3           Dine-out             Whitefield
4           Dine-out               JP Nagar
...              ...                    ...
9995          Buffet  Koramangala 4th Block
9996        Desserts       Old Airport Road
9997        Dine-out           Marathahalli
9998        Delivery  Koramangala 7th Block
9999        Delivery  Koramangala 4th Block

[10000 rows x 18 columns]>

### 4.Which are the top 10 restaurant chains in Bangaluru?

In [4]:
df['rate'].unique()

array(['3.2/5', '3.6 /5', '3.7/5', '3.4 /5', 'NEW', '4.2/5', nan,
       '3.5 /5', '4.1 /5', '3.4/5', '4.3 /5', '4.5/5', '3.0/5', '3.9/5',
       '3.0 /5', '4.0 /5', '4.2 /5', '3.5/5', '2.9 /5', '4.3/5', '4.4 /5',
       '3.8/5', '3.6/5', '3.3/5', '3.9 /5', '3.3 /5', '4.7/5', '3.1 /5',
       '-', '4.5 /5', '3.2 /5', '3.8 /5', '3.7 /5', '2.5 /5', '4.0/5',
       '4.6 /5', '4.1/5', '2.6/5', '3.1/5', '4.4/5', '2.6 /5', '2.7 /5',
       '2.9/5', '2.5/5', '2.8/5', '4.6/5', '4.7 /5', '2.8 /5', '4.8 /5',
       '4.8/5', '2.7/5', '4.9 /5', '2.2/5', '2.3 /5', '4.9/5', '2.4 /5',
       '2.3/5', '2.1 /5', '2.4/5', '2.1/5', '2.2 /5'], dtype=object)

In [7]:
df['rate']=pd.to_numeric(df['rate'].str[:3], errors='coerce')

In [8]:
df['rate']=df['rate'].fillna(df['rate'].mode()[0])

In [10]:
df.groupby(by='name')['rate'].mean().sort_values(ascending=False).head(10)

name
Asia Kitchen By Mainland China    4.900000
Flechazo                          4.900000
Punjab Grill                      4.900000
Belgian Waffle Factory            4.833333
The Pizza Bakery                  4.800000
Biergarten                        4.771429
The Black Pearl                   4.750000
House Of Commons                  4.733333
Taaza Thindi                      4.700000
You Mee                           4.700000
Name: rate, dtype: float64

### 5.How many of the restuarants do not accept online orders?

In [34]:
df['online_order'].value_counts()['No']

3668

### 6. Online and Offline orders restaurants percentage?

In [12]:
df['online_order'].value_counts(normalize=True)

online_order
Yes    0.5943
No     0.4057
Name: proportion, dtype: float64

### 7. What is the ratio b/w restaurants that provide and do not provide table booking.

In [15]:
df.drop_duplicates(inplace=True)

In [18]:
df['book_table'].value_counts()['Yes']/df['book_table'].value_counts()['No']

0.14108196309777835

### 8. Check for missing values in rating column. Drop the missing value from the column and convert the column to numeric type. e.g "3.5/5" convert it to 3.5.

In [19]:
df['rate']=df['rate'].fillna(df['rate'].mode()[0])

### 9. Convert the approx_cost(for two people) in numeric type after removing the ","

In [39]:
df['approx_cost(for two people)']=pd.to_numeric(df['approx_cost(for two people)'].str.replace(',',''), errors = 'coerce')
df['approx_cost(for two people)'].kurt()
df['approx_cost(for two people)'].plot(kind='hist',bins=100)

AttributeError: Can only use .str accessor with string values!

### 10. Find the maximum, minimum and average "approx_cost(for two people)" in each  "listed_in(city)" for each "listed_in(type)"

In [25]:
df.groupby(['listed_in(city)', 'listed_in(type)'])['approx_cost(for two people)'].agg(['max', 'min', 'mean'])

                                       max     min         mean
listed_in(city) listed_in(type)
BTM             Buffet              1600.0   750.0  1293.750000
                Cafes                900.0   150.0   557.692308
                Delivery            1600.0   100.0   440.394040
                Desserts            1200.0   100.0   392.500000
                Dine-out            1500.0    70.0   478.033708
...                                    ...     ...          ...
Whitefield      Delivery            2000.0   100.0   491.721854
                Desserts             900.0   100.0   389.473684
                Dine-out            3000.0   150.0   665.909091
                Drinks & nightlife  2400.0  1200.0  1833.333333
                Pubs and bars       1500.0   600.0  1087.500000

[192 rows x 3 columns]

### 11. Which are the most common restaurant type in Banglore (top 15)?

### 12. Finding Best budget Restaurants in any given location. Create a function return_budget_resturant, the arguments to this function will be location and rest_type.The function should return a budget resturants in the given loaction. The price of a good budget resturant should be less than 400 and rating should be more than 4.

input - return_budget_resturant('HSR',"Quick Bites")
output - ['Asha Tiffins', 'Hotel Salam', 'The Mylapore Cafe']

In [26]:
def return_budget_restaurant(location, rest_type):
    # Assuming you have a DataFrame named 'df' with restaurant data
    # Filter based on location, restaurant type, price, and rating
    filtered_data = df[(df['listed_in(city)'] == location) &
                       (df['listed_in(type)'] == rest_type) &
                       (df['approx_cost(for two people)'] < 400) &
                       (df['rate'] > 4)]

    # Extract restaurant names from the filtered data
    budget_restaurants = filtered_data['name'].tolist()

    return budget_restaurants

# Example usage
result = return_budget_restaurant('HSR', 'Quick Bites')
print(result)

[]

In [30]:
def return_budget_restaurant(location, rest_type):
    # Filter the dataset based on location and restaurant type
    filtered_df = df[(df['location'] == location) & (df['rest_type'] == rest_type)]
    
    # Further filter based on cost and rating criteria
    budget_restaurants = filtered_df[(filtered_df['approx_cost(for two people)'] < 400) & (filtered_df['rate'] > 4)]
    
    # Return the names of the budget restaurants
    return budget_restaurants['name'].tolist()
result = return_budget_restaurant('HSR', 'Quick Bites')
print(result)

['Asha Tiffins', 'The Mylapore Cafe', 'The Mylapore Cafe', 'The Mylapore Cafe', 'Asha Tiffins', 'Asha Tiffins', 'The Mylapore Cafe', 'Asha Tiffins']

### 13.Which are the most common cuisines in each locations.

In [32]:
# First, we need to clean and preprocess the 'cuisines' and 'location' columns

# Drop any rows where location or cuisines are missing
data_cleaned = df.dropna(subset=['location', 'cuisines'])

# Split the cuisines column into a list of cuisines for each restaurant
data_cleaned['cuisines'] = data_cleaned['cuisines'].str.split(', ')

# Explode the dataframe to have one row per cuisine per restaurant
data_exploded = data_cleaned.explode('cuisines')

# Group by location and cuisine, then count the occurrences
cuisine_counts = data_exploded.groupby(['location', 'cuisines']).size().reset_index(name='count')

# Find the most common cuisine for each location
most_common_cuisines = cuisine_counts.loc[cuisine_counts.groupby('location')['count'].idxmax()]

most_common_cuisines

C:\Users\moham\AppData\Local\Temp\ipykernel_6032\3421184101.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['cuisines'] = data_cleaned['cuisines'].str.split(', ')

               location      cuisines  count
39                  BTM  North Indian    430
78         Banashankari  North Indian     49
98            Banaswadi       Chinese     41
153   Bannerghatta Road  North Indian    119
186        Basavanagudi  North Indian     37
...                 ...           ...    ...
2207     West Bangalore      American      1
2252         Whitefield  North Indian    173
2282      Wilson Garden  North Indian     27
2286          Yelahanka       Biryani      1
2305        Yeshwantpur  North Indian     17

[89 rows x 3 columns]

### 14. Which is  the most popular cuisine of Bangalore?